# Opioid Prescriptions

In [1]:
# Depedencies
import pandas as pd

In [128]:
# Load sas file into pandas
file_path = "prescriptions/raw_data/PartD_Prescriber_PUF_NPI_13.txt"
pres_13_df = pd.read_table(file_path)

In [158]:
# nppes_provider_zip5: Zip Code of the Provider (first five digits)
# nppes_provider_city: City of the Provider
# opioid_claim_count: Total Claims of Opioid Drugs, Including Refills
# opioid_day_supple: Number of Day's Supply of All Opioid Drugs
# opioid_prescriber_rate: Percent of Total_Claim_Count Represented by Opioid_Claim_Count
# la_opioid tags follow the same as above

prescriptions_df = pd.DataFrame()
x = 13
year = 2013
while x <= 17:
    
    file_path = f'prescriptions/raw_data/PartD_Prescriber_PUF_NPI_{x}.txt'
    df = pd.read_table(file_path)
    df = df[[
            'nppes_provider_zip5',
            'opioid_claim_count', 
            'opioid_day_supply', 
            'opioid_prescriber_rate', 
            'la_opioid_claim_count', 
            'la_opioid_day_supply',
            'la_opioid_prescriber_rate',
            ]]
    df.rename(columns={"nppes_provider_zip5": "zip"}, inplace=True)
    df.dropna(subset=['zip'], inplace=True)
    df['zip'] = df['zip'].astype(int).astype(str).str.zfill(5)
    df.fillna(0, inplace=True)
    df['year'] = year
    prescriptions_df = prescriptions_df.append(df)
    
    x += 1
    year += 1
    
    continue

In [159]:
test = prescriptions_df.groupby(['zip', 'year']).sum().reset_index()

In [161]:
test.tail()

,zip,year,opioid_claim_count,opioid_day_supply,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_day_supply,la_opioid_prescriber_rate
101506,99929,2013,436.0,11674.0,34.53,86.0,2559.0,67.19
101507,99929,2014,427.0,10873.0,41.16,71.0,2087.0,63.11
101508,99929,2015,426.0,11692.0,87.89,77.0,2622.0,53.21
101509,99929,2016,442.0,12658.0,92.75,79.0,3087.0,76.57
101510,99929,2017,316.0,9873.0,36.45,50.0,2169.0,76.02

In [162]:
test.count()

zip                          101511
year                         101511
opioid_claim_count           101511
opioid_day_supply            101511
opioid_prescriber_rate       101511
la_opioid_claim_count        101511
la_opioid_day_supply         101511
la_opioid_prescriber_rate    101511
dtype: int64

In [139]:
test = test.append(pres_13_df)

In [140]:
test.count()

zip                          2098466
opioid_claim_count           2098466
opioid_day_supply            2098466
opioid_prescriber_rate       2098466
la_opioid_claim_count        2098466
la_opioid_day_supply         2098466
la_opioid_prescriber_rate    2098466
year                         2098466
dtype: int64

In [122]:
test = pres_13_df.sort_values(by=['zip'])

In [110]:
test = pres_13_df.groupby('zip').sum()

In [124]:
test.tail()

,zip,opioid_claim_count,opioid_day_supply,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_day_supply,la_opioid_prescriber_rate,year
760935,99929,160.0,4487.0,7.69,47.0,1411.0,29.38,2013
114736,99929,22.0,331.0,2.45,0.0,0.0,0.00,2013
862008,99929,178.0,4728.0,12.71,27.0,808.0,15.17,2013
37640,99929,0.0,0.0,0.00,0.0,0.0,0.00,2013
457536,99929,23.0,902.0,3.05,0.0,0.0,0.00,2013

In [100]:
test['zip'] = test['zip'].astype(str).str.zfill(5)

In [101]:
test.head()

,zip,opioid_claim_count,opioid_day_supply,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_day_supply,la_opioid_prescriber_rate,year
0,00000,23.0,62.0,16.55,0.0,0.0,0.0,6039
1,00061,184.0,2502.0,5.13,0.0,0.0,0.0,2013
2,00080,37.0,199.0,0.99,0.0,0.0,0.0,2013
3,00115,0.0,0.0,0.00,0.0,0.0,0.0,2013
4,00294,0.0,0.0,0.00,0.0,0.0,0.0,2013